@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body, html {
  height: 100%;
}

@import '/node_modules/antd/dist/antd.css';


p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* The hero image */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media1.popsugar-assets.com/files/thumbor/48zKkKLtc6dX_fB5GyDSSoX6-Sk/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2018/03/14/447/n/38922820/tmp_2Dj2kY_e73655a1bfed29f1_Chulu_Kabab.jpg");
  /* Set a specific height */
  height: 100vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .hero-image:before, .hero-image:after {
	content: "";
	border-bottom: 20px solid white;
	height: 0px;
	width: 50%;
	position: absolute;
	bottom: 0px;
}

.hero-image:before {
	border-right: 15px solid rgba(0,0,0,0);
	left: 0;
}

.hero-image:after {
	right: 0;
	border-left: 15px solid rgba(0,0,0,0);
	border-right: none;
} */

/* Place text in the middle of the image */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-title {
  color: #FFF;
  line-height: 1.3;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 5rem;
  margin: 117px 0 25px 0;
}

.food-desc {
  color: #ff8b38;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-style: normal;
  line-height: 1.4em;
  letter-spacing: 3px;
}

/* Restaurant Section */

.section-wrapper {
  box-sizing: border-box;
  max-width: 1080px;
  padding: 60px 34px;
  margin: auto;
  text-align: left;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  letter-spacing: .4px;
  line-height: 1.6em;
  color: rgba(28, 28, 28, .9);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.side-bar {
  width: 30%;
  text-align: center;
}

.ant-btn:hover {
  color: #ffd300;
  border-color: #ffd300;
}

.sidebar-details {
  /* text-align: left; */
  color: #ff8b38;
  margin: 1.5em auto .3em;
  white-space: pre-wrap;
}

.res-desc {
  width: 70%;
}

@media only screen and (max-width:652px) {
  .res-desc {
    width: 100%;
  }
  .side-bar {
    width: 100%;
    text-align: center;
  }
  .home-title { 
    font-size: 3.5rem;
    margin: 251px 0 25px 0;
  }
}
